<div class="wrapper-header">
  <div class="row">
    <div class="col-12 col-md-4 col-sm-4 col-4 pref_h">
      <img id="logo" class="ml-sm-3" src="../../assets/img/logonovo.png" alt="logo">
    </div>
    <div class="col-12 col-md-8 col-sm-8 col-4 pref_h d-flex justify-content-sm-end justify-content-center">
      <p class="my-sm-3 mx-1 m-0 font-weight-bold align-self-center f_size"> Bem vindo(a), {{userName}}</p>
      <img id="logout" class="m-sm-2 m-0 align-self-center" src="../../assets/img/logout.png" alt="logout" id="logout" (click)="logout()">
    </div>
  </div>
</div>