.wrapper-header  {
    width: 100vw;
    height: 10vh;
    padding: 1vh;
    background: #00a87e;
    color: #fff;
    box-shadow: 0 2px 5px -2px grey;
    border-bottom: 8px solid rgb(36, 125, 228);
    overflow: hidden;
}

.pref_h {
    height: 7vh;
}

#logo {
    max-height: 100%;
}

.f_size {
    font-size: 1em;
}

#logout {
    max-width: 30px;
}

@media screen and (max-width: 576px) {
    .wrapper-header  {
        width: 100vw;
        height: 13vh;
        padding: 1vh;
        background: #00a87e;
        color: #fff;
        box-shadow: 0 2px 5px -2px grey;
        border-bottom: 8px solid royalblue;
        overflow: hidden;
    }
    
    .pref_h {
        height: 6vh;
    }

    #logo {
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    .f_size {
        font-size: 0.7em;
    }

    #logout {
        max-width: 15px;
    }
}